name: Test
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:

  test:
    name: Test on ${{ matrix.os }} with ${{ matrix.update_alternatives }} update-alternatives
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-18.04
        - macos-10.15
        - windows-2022
        update_alternatives:
        - y
        - n
    steps:
    - name: Check out code
      uses: actions/checkout@v1

    - name: Test
      env:
        GETMICRO_REGISTER: ${{ matrix.update_alternatives }}
      run: ./ci/runTest.sh
      shell: bash

  lint:
    name: Lint
    runs-on: ubuntu-18.04
    steps:
    - name: Check out code
      uses: actions/checkout@v1

    - name: Lint
      run: |
        command -v apt-get >/dev/null 2>&1 && sudo apt-get update && sudo apt-get install -y shellcheck
        ./ci/runLint.sh

  test_vagrant:
    name: Test ${{ matrix.vagrant_dir }} with Vagrant
    runs-on: macos-10.15
    strategy:
      fail-fast: false
      matrix:
        vagrant_dir:
        - testboxes/freebsd32
        - testboxes/freebsd64
        - testboxes/debian32
        - testboxes/debian64
        - testboxes/linux-arm64
        - testboxes/opensuse64
        - testboxes/devuan64
        - testboxes/netbsd64
        - testboxes/openbsd64
    steps:
    - name: Check out code
      uses: actions/checkout@v1

    - name: Test
      run: ./ci/runVagrantTest.sh ${{ matrix.vagrant_dir }}

  test_docker:
    name: Test ${{ matrix.docker_image }} with ${{ matrix.update_alternatives }} update-alternatives
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        docker_image:
        - arm32v7/ubuntu:bionic
        - arm64v8/ubuntu:bionic
        - bash:5.0
        - bash:4.4
        - bash:4.3
        - bash:4.2
        - bash:4.1
        - bash:4.0
        - bash:3.2
        - bash:3.1
        - bash:3.0
        update_alternatives:
        - y
        - n
    steps:
    - name: Check out code
      uses: actions/checkout@v1

    - name: Test
      env:
        GETMICRO_REGISTER: ${{ matrix.update_alternatives }}
      run: ./ci/runDockerTest.sh ${{ matrix.docker_image }} bash

  test_shells:
    name: Test ${{ matrix.shell }} shell with ${{ matrix.update_alternatives }} update-alternatives
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        shell:
        - zsh
        - dash
        - ksh
        - mksh
        - yash
        - 'busybox sh'
        - gash
        - mrsh
        #- 'toybox toysh'
        #- oil
        update_alternatives:
        - y
        - n
    steps:
    - name: Check out code
      uses: actions/checkout@v1

    - name: Test
      run: sudo GETMICRO_REGISTER=${{ matrix.update_alternatives }} ./ci/installAltShell.sh ${{ matrix.shell }}

  test_alpine:
    name: Test busybox on alpine with ${{ matrix.update_alternatives }} update-alternatives
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
      matrix:
        update_alternatives:
        - y
        - n
    steps:
    - name: Check out code
      uses: actions/checkout@v1

    - name: Test
      env:
        GETMICRO_REGISTER: ${{ matrix.update_alternatives }}
      run: ./ci/runDockerTest.sh alpine:latest sh

  check_readme_checksum:
    name: Test ${{ matrix.readme_file }} checksum
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
      matrix:
        readme_file:
        - ./README.md
        - ./README.fr.md
    steps:
    - name: Check out code
      uses: actions/checkout@v1

    - name: Test
      run: ./ci/checkREADMEchecksum.sh ${{ matrix.readme_file }}

